# Tuples
1. It is similar to list except its immutable which means we cannot change elements of tuple once assigned.
2. Iteration of tuple elements is faster than compared to that of list

## Tuple Creation

In [6]:
t1 = ()   #Empty tuple

In [8]:
t2 = (10,30,50)    #Tuple of int

In [10]:
t3 = (10.1, 22.25, 84.5)   #Tuple of float

In [14]:
t4 = ('one','two' , "three")  #Tuple of strings

In [20]:
t5 = ('Tanishq', 3, (50,100),(1,2))  #Nested tuple

In [22]:
t6 = (210, "Tanishq", 19.03) #Tuple of mixed data types

In [24]:
t7 = ('Tanishq', 12, [50,100],[50,70], {'John','David'})

In [30]:
len(t7) #Length of Tuple

5

#####

## Tuple Indexing

In [37]:
t2[0] # Retreive first element of the tuple

10

In [39]:
t2[-1] # Retreive last element of the tuple

50

In [45]:
t5[0][3]  #Nested indexing - get char of 3rd index of 0th index element

'i'

In [47]:
t7[-1]

{'David', 'John'}

#####

## Tuple Slicing

In [70]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [56]:
mytuple[0:3] #all items from 0th to 3rd index excluding 3rd index

('one', 'two', 'three')

In [58]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [60]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [62]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#####

## Remove & Change Items

In [66]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#### Tuples are immutable that means we cannot edit or delete tuple elements

In [72]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [74]:
mytuple[0]=10

TypeError: 'tuple' object does not support item assignment

#### But we can delete entire tuple

In [79]:
del mytuple

In [81]:
mytuple

NameError: name 'mytuple' is not defined

#####

## Loop through a tuple

In [87]:
tuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [89]:
for i in tuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [91]:
for i in enumerate(tuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#####

## Count
Tells number of times item occurred in the tuple

In [102]:
tuple2=(1,1,1,2,35,5,65,95,95)
tuple2

(1, 1, 1, 2, 35, 5, 65, 95, 95)

In [117]:
tuple2.count(95) # Occurence of item 95 in the tuple

2

In [115]:
tuple2.count('1')  # here '1' is a string

0

#####

## Tuple Membership

In [121]:
tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [125]:
'one' in tuple  # Check if 'one' exist in the list

True

In [129]:
'ten' in tuple # Check if 'ten' exist in the list

False

In [ ]:
#####

In [134]:
if 'three' in tuple:   # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

#####

## Index Position

In [138]:
tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [142]:
tuple.index('one') # Index of first element equal to 'one'

0

In [144]:
tuple.index('six')

5

#####

## Sorting
Returns a new sorted lists that doesnt change the original tuple

In [148]:
tuple2

(1, 1, 1, 2, 35, 5, 65, 95, 95)

In [153]:
sorted(tuple2)  #Ascending order

[1, 1, 1, 2, 5, 35, 65, 95, 95]

In [157]:
sorted(tuple2, reverse=True)  # Sort in descending order

[95, 95, 65, 35, 5, 2, 1, 1, 1]