### LOOPS: 
- In programing world some time we keep on repeating , may be you want to repeat 5 statement so one way is copy & paste multiple times or other way is, if you want to print something 10 times then what you will you cant copy for 10 times , if you want to print 1000 times then you cant do manualy . that is the reason why we need to apply loops.
  
- 2 type of loops --> While loop & For loop

In [1]:
i = 1              # initializing
while i<=5:        # condition
    print('data science')
    i = i + 1      # increment

data science
data science
data science
data science
data science

In [3]:
i = 5             # initializing 
while i>=1:       # condition
    print('data science')
    i = i - 1     # decrement

data science
data science
data science
data science
data science

In [7]:
i = 1          # initializing
while i<=5:    # condition
    print('data science',':',i)
    i = i + 1  # increment

data science : 1
data science : 2
data science : 3
data science : 4
data science : 5

In [9]:
i = 5          # initializing
while i>=1:    # condition
    print('data science',':',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

### Nested while loop

In [20]:
i = 1
while  i<=5:
    print('Tanishq')
    j = 1
    while j<=4:
        print('data science')
        j = j+1

    i = i+1
    print()

Tanishq
data science
data science
data science
data science

Tanishq
data science
data science
data science
data science

Tanishq
data science
data science
data science
data science

Tanishq
data science
data science
data science
data science

Tanishq
data science
data science
data science
data science

In [32]:
i = 1
while i <=5:
    print('Tanishq',end = " ")
    j = 1
    while j<=4:
        print('NIT', end= " ")
        j = j + 1
        
    i = i + 1
    print()

Tanishq NIT NIT NIT NIT
Tanishq NIT NIT NIT NIT
Tanishq NIT NIT NIT NIT
Tanishq NIT NIT NIT NIT
Tanishq NIT NIT NIT NIT

In [52]:
i = 1
while i <= 5:
    print('Hello', i)
    j = 0
    while j <= 7:
        print('World', end="* ")
        j = j + 1
    i = i + 1
    print()

Hello 1
World* World* World* World* World* World* World* World*
Hello 2
World* World* World* World* World* World* World* World*
Hello 3
World* World* World* World* World* World* World* World*
Hello 4
World* World* World* World* World* World* World* World*
Hello 5
World* World* World* World* World* World* World* World*

In [61]:
i = 1
while i <= 4:
    j = 0
    while j <= 3:
        print(i*j, end=" ")
        j+= 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

Above code prints a multiplication table:

- Outer Loop (i from 1 to 4):

- Iterates with i values 1 through 4.
  
    Inner Loop (j from 0 to 3):

- Multiplies i by j and prints the result.

- Output:

    Each line shows i multiplied by j for j ranging from 0 to 3.

## FOR LOOP  -
Normally while loop it work with condition but for loop it will work with sequence (list, string,int)

In [74]:
name = 'tanishq'
for i in name:
    print(i)

t
a
n
i
s
h
q

In [72]:
name = 'tanishq'
for i in enumerate(name):
    print(i)

(0, 't')
(1, 'a')
(2, 'n')
(3, 'i')
(4, 's')
(5, 'h')
(6, 'q')

In [78]:
name1 = [1,3.19,'TANISHQ']

for i in name1:
    print(i)

1
3.19
TANISHQ

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
for i in range(1,10,3):
    print(i)

1
4
7

In [92]:
# PRINT NUMBER WHICH IS NOT DIVISILE BY :

for i in range (1,11):
    if i%5 != 0:
        print(i)

1
2
3
4
6
7
8
9

In [98]:
# 5's MULTIPLICATION TABLE:

for i in range(1,51):
    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

## Lets Discuss 3 Keywords: BREAK | CONTINUE | PASS

1. break Statement
   
    Purpose: Exits the current loop immediately, regardless of the loop's condition.

    Usage: Typically used when you need to terminate the loop based on a certain condition.

2. continue Statement
   
    Purpose: Skips the rest of the code inside the current iteration of the loop and proceeds to the next iteration.

    Usage: Used to skip certain iterations based on a condition without terminating the entire loop.

3. pass Statement

    Purpose: A placeholder that does nothing; used where syntactically some code is required but you don't want to execute anything.

    Usage: Often used in function or class definitions where code will be added later, or to create minimal code blocks that do nothing.

- break: Exits the loop immediately.

- continue: Skips the rest of the current loop iteration and proceeds to the next iteration.

- pass: Does nothing; used as a placeholder in code.

In [108]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [126]:
for i in range(1,11):
    if i == 5:
        break #==> WHILE YOU WORK WITH COMPUTER VISION PROJECT   
    print(i)
# NO further number because we used break to exit loop at i == 5

1
2
3
4

In [128]:
for i in range(1,11):
    if i == 5:
        continue 
    print(i)
# Here loop will not exit but it continues by skipping  iteration of i == 5

1
2
3
4
6
7
8
9
10

In [130]:
for i in range(1,11):
    if i == 5:
        continue 
    print('hello ',i)

hello  1
hello  2
hello  3
hello  4
hello  6
hello  7
hello  8
hello  9
hello  10

In [134]:
for i in range(1,11):
    pass
# Does nothing; used as a placeholder in code.

## PRINTING PATTERNS IN PYTHON

In [167]:
# # # #
# # # #
# # # #
# # # #

In [137]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [139]:
# We can use loops to print above pattern

In [145]:
for j in range(4):
    print('#' , end=" ")

# # # #

In [149]:
for j in range(4):
    print('#' , end=" ")

for j in range(4):
    print('#' , end=" ")

# # # # # # # #

In [154]:
for j in range(4):
    print('#' , end=" ")

print()  # To add new line

for j in range(4):
    print('#' , end=" ")

# # # #
# # # #

In [156]:
for j in range(4):
    print('#' , end=" ")

print()  # To add new line

for j in range(4):
    print('#' , end=" ")

print()  # To add new line

for j in range(4):
    print('#' , end=" ")

print()  # To add new line

for j in range(4):
    print('#' , end=" ")

# # # #
# # # #
# # # #
# # # #

In [164]:
# Above method is very lengthy and will consume more memory.
for i in range(4):
    for j in range(4):
        print('#', end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

######

In [174]:
#
# #
# # # 
# # # #

In [194]:
for i in range(5):
    for j in range(i):
        print('#', end=" ")
    print()
# Here in output we got one empty line at i=0 iteration

#
# #
# # #
# # # #

In [192]:
for i in range(4):
    for j in range(i+1):
        print('#', end=" ")
    print()

#
# #
# # #
# # # #

In [184]:
for i in range(4):
    j = 0
    while j<= i:
        print('#', end = " ")
        j += 1
    print()

#
# #
# # #
# # # #

#####

In [197]:
# # # #
# # #
# # 
#

In [201]:
for i in range(4):
    for j in range(4-i):
        print('#', end=" ")
    print()

# # # #
# # #
# #
#

In [1]:
for i in range(4):
    j = 4 - i  # Number of '#' symbols to print
    while j > 0:
        print('#', end=" ")
        j -= 1  # Decrease `j` to eventually terminate the loop
    print()  # Move to the next line

# # # #
# # #
# #
#

######

## For--Else in python
- In other language for else not supportable but in python it is supportable

In [13]:
# NUMMBERS DIVISIBLE BY 

nums = [12,15,18,21,26]

for num in nums:
    if num%5 == 0:
        print(num)

15

In [15]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [23]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
# here as we used break loop will stop after one iteration
# Therefore we didnt get 20 after 25

25

In [27]:
nums = [7,14,18,21,23,27] 
for num in nums:
    if num % 5 == 0:
        print(num)  
#hear there is no number which is divisible by 5 we got output as blank

In [29]:
nums = [7,14,18,21,23,27,22] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [31]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found') # hear else we dont write in if block but we can write in for block only

Not Found

In [33]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
Not Found

In [37]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

## prime number - how to check given number is prime number or not

In [40]:
num = 12

for i in range(2,num):
    if num%i ==0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

Not Prime Number

In [42]:
num = 19

for i in range(2,num):
    if num%i ==0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

Prime Number